/*** DEFAULT CLASSES ***/

.my-1{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.my-2{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.my-3{
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.my-4{
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.my-5{
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.mx-1{
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-2{
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-3{
    margin-left: 3rem;
    margin-right: 3rem;
}

.mx-4{
    margin-left: 4rem;
    margin-right: 4rem;
}

.mx-5{
    margin-left: 5rem;
    margin-right: 5rem;
}

.py-1{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.py-2{
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.py-3{
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.py-4{
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.py-5{
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.px-1{
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-2{
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-3{
    padding-left: 3rem;
    padding-right: 3rem;
}

.px-4{
    margin-left: 4rem;
    padding-right: 4rem;
}

.px-5{
    padding-left: 5rem;
    padding-right: 5rem;
}

.align-items-center {
    display: inline-block!important;
    vertical-align: middle;
    float: none!important;
}


/***  ***/

body{
    font-family: Lato;
}

header{
    position: fixed;
    z-index: 200;
    transition: .3s;
    top: 0;
}

#header{
    background: #00397d;
    color: #fff;
    font-size: 1.5rem;
}

#h-contact p{
    margin: 0 1.2rem 1.8rem 1.2rem;
}

#header a{color: #fff;}

#whatsapp-social{
    color: #7aff91;
}

#whatsapp-social span{
    font-size: 1.3rem;
}

nav{
    font-size: 1.2rem;
    padding-top: 1rem!important;
    padding-bottom: 0!important;
    background-color: #fff;
}

nav ul li{
    background-color: #fff;
    max-width: 18rem;
}

nav ul li a{
    color: #00397d!important;
    padding-top: 0!important;
    border: solid #eee;
    border-width: 0 0 0 .3rem;  
}

nav ul li:last-child a{
    border-right-width: .3rem;  
}

.navbar-toggle{
    border: solid 1px #ccc!important;
    background: #f3f3f3!important;
}

.icon-bar{
    background: #666!important;
}

main{
    background-color: #eee;
    padding-top: 32rem;
    z-index: 300;
}

.img-cont{
    position: relative;
}

.img-top-rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 10px;
}

#img-rect-col-1,#img-text-col-1{
    background-color: #c17400;
}

#img-rect-col-2,#img-text-col-2{
    background-color: #00397d;
}

#img-rect-col-3,#img-text-col-3{
    background-color: #10ac2b;
}

#img-rect-col-4,#img-text-col-4{
    background-color: #640143;
}

#img-text-col-1,#img-text-col-2,#img-text-col-3,#img-text-col-4{
    height: 12rem;
    margin-top: .5rem;
}

#img-text-col-1 p,#img-text-col-2 p,#img-text-col-3 p,#img-text-col-4 p{
    font-size: 1.2rem;
}

.img-title{
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    z-index: 10;
}

.gradient{
    background-image: linear-gradient(transparent, rgba(0,0,0,.6));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.jumbotron-cont{
    background: #fff;
}

#jumbotron{
    position: relative;
    background-color: #fff!important;
    overflow: hidden;
}

#jumbotron img{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.jumbotron-img-cont{
    background-image: url('https://via.placeholder.com/500x350');
    background-repeat: no-repeat;
    background-position: left;
}

.jumbotron-gradient{
    background-image: linear-gradient(to right,transparent, #fff);
    z-index: 50;
}

.jumbotron-gradient,.jumbotron-img-cont{
    width: 45%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.jumbotron-content{
    width: 50%;
}

.jumbotron-content p{
    font-size: 1.5rem!important;
}

.jumbotron-btn{
    border-radius: 25px!important;
    font-size: 1.2rem!important;
}

#btn-1{
    background: #e6e7e8;
    color: #777;
}

#btn-2{
    background: #52c5f0;
    color: #fff;
}
